@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h2 class="display-4">Welcome to the HomeWork Project</h2>
        <p class="lead">
            This is a simple web application to manage student records. You can add, edit, view, and delete student information such as name, age, GPA, and major.
            The project is built using ASP.NET Core and Bootstrap for a responsive design.
        </p>
        <hr class="my-4">

        <p>Check out the GitHub Repository for more details.</p>

        
        <a href="https://github.com/716W/HomeWork-MVC---CRUD-.git" target="_blank" class="btn btn-primary btn-lg">Visit GitHub Repository</a>
    </div>
</div>
